body {
    margin: 0;
    background: rgb(250, 245, 228)
}


.header {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background: rgb(18, 91, 80);
    margin-bottom: 80px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(46, 46, 46);
    font-weight: bold;
    height: 600px;

    h1 {
        margin: 20px;
    }


    nav {
        justify-self: flex-end;
        margin: 5px;

        a {
            margin: 20px;
            text-decoration: none;
            color: rgb(46, 46, 46);

        }
    }


}

.media-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.hideHomePage {
    display: none;
}

.hideProfile {
    display: none;
}


article {
    height: 420px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin: 10px;
    color: rgb(46, 46, 46);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 1px solid lightgray;

    img {
        max-width: 150px;
    }

    h4 {
        margin: 10px;
    }

    p {
        margin: 2px;
        font-size: 13px;
    }
}


.hideSignIn {
    display: none;
}

.hide-user-link {
    display: none;
}