#media-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}


article {
    height: 420px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin: 10px;
    color: rgb(36, 36, 36);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;





    img {
        max-width: 150px;
    }

    h4 {
        margin: 10px;
    }

    p {
        margin: 2px;
        font-size: 13px;
    }
}