body {
    background: rgb(239, 239, 239);
}

.media-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.hideHomePage {
    display: none;
}

.hideProfile {
    display: none;
}


article {
    height: 420px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin: 10px;
    color: rgb(46, 46, 46);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 1px solid lightgray;

    img {
        max-width: 150px;
    }

    h4 {
        margin: 10px;
    }

    p {
        margin: 2px;
        font-size: 13px;
    }
}

.hideSignUp {
    display: none;
}

.hideSignIn {
    display: none;
}